<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.mapper.OrderMapper">
    <!--useGeneratedKeys="true" keyProperty="id"保证将主键值回反给类-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status,
                            amount, remark, phone, address, user_name, consignee, cancel_reason, rejection_reason,
                            cancel_time, estimated_delivery_time, delivery_status, delivery_time, pack_amount,
                            tableware_number, tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason},
                #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime},
                #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.cloud.entity.Orders">
        update orders
        <set>
            <if test="status!= null and status!='' ">
                status=#{status},
            </if>
            <if test="payStatus!= null and payStatus!='' ">
                pay_status=#{payStatus},
            </if>
            <if test="remark!= null and remark!='' ">
                remark=#{remark},
            </if>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null  ">
                cancel_time=#{cancelTime},
            </if>

            <if test="payMethod != null and payMethod!=''">
                pay_method=#{payMethod},
            </if>
            <if test="estimatedDeliveryTime != null ">
                estimated_delivery_time=#{estimatedDeliveryTime},
            </if>
            <if test="deliveryStatus!= null and deliveryStatus!='' ">
                delivery_status=#{deliveryStatus},
            </if>
            <if test="deliveryTime!= null">
                delivery_time=#{deliveryTime},
            </if>
            <if test="packAmount!= null and packAmount!='' ">
                pack_amount=#{packAmount},
            </if>
            <if test="tablewareNumber!= null and tablewareNumber!='' ">
                tableware_number=#{tablewareNumber},
            </if>
            <if test="tablewareStatus!= null and tablewareStatus!='' ">
                tableware_status=#{tablewareStatus},
            </if>

        </set>
        where id = #{id}
    </update>
    <select id="getPage" resultType="com.cloud.entity.Orders">
        select *
        from orders
        <where>
            <if test="number!= null and number!= ''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone!= null and phone!= ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="status!=null">
                and status =#{status}
            </if>
            <if test="beginTime!=null and endTime!=null">
                and order_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="pageQuery" resultType="com.cloud.entity.Orders">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

</mapper>
