<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.mapper.OrderDetailMapper">
    <!--useGeneratedKeys="true" keyProperty="id"保证将主键值回反给类-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into order_detail
        (name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount)
        values (#{name}, #{image}, #{orderId}, #{dishId}, #{setmealId}, #{dishFlavor}, #{number}, #{amount})
    </insert>
</mapper>
